@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1>Продажа страховок</h1>
        <p>
            Тестовая программа для оформления страховки по кредитному договору.
        </p>
        <p>
            Выполнена в рамках ознакомления с основами ASP.NET Core MVC.
        </p>
        <p>
            Все персонажи, данные и другая информация является вымышленная. совпадение с действительностью не исключено, т.к. людей на земном шаре больше чем дохрена.
        </p>
        <p style="color:red">
            Всем бобра.
        </p>
    </div>
